/* ----------------------------------------------------------------
	Responsive CSS
-----------------------------------------------------------------*/

@media (max-width: 1199px) {
	canvas {
		max-width: 100%;
		height: auto !important;
	}
	#homeSlider .simple-slider .slider-box {
    height: 377px;
	}
	
	#testimonials .simple-slider .slider-box {
    height: 435px;
	}
	#testimonials .simple-slider .slider-box p{
		font-size: 14px;
	}
	

	
}

@media (max-width: 1110px) {	
	.tabs.tabs-tb ul.tab-nav li.ui-state-default a,.tabs.tabs-alt.tabs-tb ul.tab-nav li.ui-tabs-active a{
		height: 100px;
	}
	
	.tabs.tabs-alt ul.tab-nav li{
		width:32%;
	}
}

@media (min-width: 1111px){
	.tabs.tabs-tb ul.tab-nav li.ui-state-default a,.tabs.tabs-alt.tabs-tb ul.tab-nav li.ui-tabs-active a{
		height: 100px;
	}
}

@media (min-width: 1100px){
	#header .container {	
	-webkit-transition: width 0.5s ease;
	transition: width 0.5s ease;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	
	#developers .heading-block h2{
		font-size:26px;
	}
	
	#developers .col_half{
		margin-bottom: 10px;
	}
	
	.cta .button{
		background-position-x: 15px; 
	}
	
	#primary-menu ul li a{
	padding: 0 8px;
	font-size: 13px;

	}
	#logo img{
	height:70px;
	margin-top:5px;
	}
	
	#wrapper { width: 1000px; }

	#header.transparent-header.floating-header .container {
		width: 1030px;
		padding: 0 30px;
	}

	#header.transparent-header.floating-header.sticky-header .container {
		width: 970px;
		padding: 0 15px;
	}

	#primary-menu.sub-title ul > li > a {
		padding-left: 15px;
		padding-right: 15px;
	}

	.floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content { width: 940px; }

	.floating-header #primary-menu ul li.mega-menu .mega-menu-content { width: 1030px; }

	.postcontent { width: 690px; }
	.postcontent.bothsidebar { width: 440px; }
	.sidebar { width: 210px; }



	
	.col_one_third .landing-wide-form .heading-block h2 { font-size: 32px; }

	.col_one_third .landing-wide-form .heading-block span { font-size: 17px; }

	.col_one_third .landing-wide-form { padding: 36px 30px; }

	.landing-video {
		width: 465px;
		height: 262px;
		margin: 19px 0 0 75px;
	}

	.bnews-slider { width: 817px; }

	.landing-form-overlay { bottom: -142px; }
}

@media (min-width: 772px) {
	.parallax, .parallax__figcaption {
    padding: 100px 0;
	}
}

@media (max-width: 991px) {
	
	
	.simple-slider .arrows{
		height:100px;
		width:40px;
		border-radius:50%;
		font-size:3.6em;
		background:transparent;
	}
	
	#testimonials .simple-slider .arrows{
		top:35%;
	}
	#wrapper {
    margin-top: 70px !important;
}
	
	.section{
		padding:20px 0;
		margin:20px 0;
	}
	
	.simple-slider .arrows:hover{
		background:transparent;
	}
	
	.simple-slider .arrows i{
		top:0;
		color:white;
	}
	
	#homeSlider .simple-slider .slider-box{
		height:0!important;
		padding-top:40.1%;
	}
	
	#testimonials .simple-slider .slider-box {
    	padding-top:60.1%;
	}
	
	.loader {
    width: 35%;
    margin: 150px auto;
}
	
	.button.button-xlarge{
		    padding: 0 16px;
    font-size: 20px;
    letter-spacing: 0;
    height: 60px;
    line-height: 60px;
	}
	
	.simple-slider .caption.caption-left,.simple-slider .caption.caption-right,.simple-slider .caption.caption-center{
		width:100%!important;
		left:0!important;
		right:auto!important;
		margin: 50px 0;
		padding:30px 50px;
	}
	

	
	.simple-slider .caption.caption-left,.simple-slider .caption.caption-right,.simple-slider .caption.caption-center{
		width:100%!important;
		left:0!important;
		right:auto!important;
		margin: 50px 0;
		padding:30px 50px;
	}
	
	.svg-holder{
		width:50%;
		margin:100px auto;
	}
	
	#primary-menu > div > #menu-top-menu{
		background:white;
		transition: none;
	}

	.menu-icon{
		display:block;
	}
	
	.comparison {
     flex-direction: column;
	}
	
	.comparison-item {
    max-width: 100%!important;
	}
	
	#speedtest{
		width:100%;
	}
	
	#speedtest .compare-vs{
		font-size:30px;
		padding: 0px 50px;
	}
	
	#imageLinks .icons{
		margin-bottom:0;
	}
	
	#planChooser .container{
		padding:0;
	}

	.content-wrap.topmargin-lg{
		margin-top:30px!important;
	}
	
	html #wpadminbar{
		transform: scale(0.6) translate(0,-12px);
	}
	
	#header{
		position:fixed;
		width:100%;
		top:0;
	}
	
	.planBox{
		z-index: 1;
	}
	
	.menu-top-menu-container:after{
		clear:both;
	}
	
	#primary-menu a span.phone{
		display: none;
	}
	
	#header-wrap{
		max-height: 80px;
	}
	
	#primary-menu > a.button{
		position:absolute;
		top: 10px;
		right:2px;
		padding: 0;
		margin:0;
	}
	
	#primary-menu > a.button .fbox-icon{
		width:38px;
		height:38px;
		padding:8px;
	}
	
	#primary-menu > a.button i{
		   font-size: 1.5em;
		margin: 0;
		line-height: 22px;
	}
	
	#imageLinks .col_one_fourth{
		width:49%;
		float:left;
	}
	
	#imageLinks .col_one_fourth:nth-child(odd){
		margin-right:2%;
	}
	
	#imageLinks .col_one_fourth:nth-child(even){
		margin:0!important;
	}
	
	#imageLinks .icons .suburb{
		z-index:3;
		padding: 5% 0 30%;
		top:50%;
		bottom:0%;
		padding: 5px;
	}
	
	#imageLinks .icons .comingsoon{
		top:39%;
	}
	
	#imageLinks .icons a:hover{
	top:0px;
	}
	
	#imageLinks .icons a:hover .suburb{
		padding: 5% 0 30%;
	}
	
	#primary-menu div ul li.menu-item-has-children > a:after {
		content: "";
		padding-left: 0;
	}

	.custom-logo-link img{
		margin:0 auto;
		max-width:100%;
		height:auto!important;
		max-height:75px;
	}
	
	.post-archive li{
		width:50%;	
	}
	
	.widget.cta{
		display:none;
	}
	
	.cta .button{
		background-position-x:70px;
	}
	
	#wrapper {
		width: 100%;
		margin: 0;
		box-shadow: none;
	}

	#header.full-header .container,
	.container-fullwidth {
		padding: 0 15px !important;
		margin: 0 auto;
		width: 750px !important;
	}

	.container.vertical-middle { width: 100% !important; }

	.vertical-middle + .video-wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	.postcontent,
	.postcontent.bothsidebar,
	.sidebar {
		width: 100%;
		margin-right: 0;
		float: none !important;
		margin-bottom: 40px !important;
		padding-bottom: 40px;
	}

	.sidebar.col_last {
		float: none;
		margin-bottom: 0 !important;
		padding-bottom: 0;
		border-bottom: 0;
	}

	#header,
	#header-wrap,
	#header.sticky-style-2,
	#header.sticky-style-3,
	#header.sticky-style-2 #header-wrap,
	#header.sticky-style-3 #header-wrap { height: auto !important;padding-bottom: 0; width:100%!!important; }

	#header.sticky-style-2 #header-wrap,
	#header.sticky-style-3 #header-wrap { min-height: 60px; }

	#header.sticky-header #header-wrap { position: relative; }

	#header.transparent-header,
	#header.semi-transparent {
		background: #FFF;
		border-bottom: 1px solid #F5F5F5;
		z-index: auto;
	}

	#header.dark.transparent-header,
	#header.dark.semi-transparent {
		background-color: #f68e57;
		border-bottom: 1px solid rgba(0,0,0,0.1);
	}

	#header.transparent-header.floating-header { margin-top: 0; }

	#header.transparent-header.floating-header .container {
		width: 750px;
		padding: 0 15px;
		border-radius: 0;
	}

	#header.transparent-header + #slider,
	#header.transparent-header + #page-title,
	#slider + #header.transparent-header,
	#header.transparent-header.floating-header + #slider {
		top: 0;
		margin-bottom: 0;
	}

	#header.transparent-header + #page-title .container { padding-top: 0; }

	#header-trigger,
	.top-advert,
	.header-extras { display: none; }

	#logo {
		display: block;
		height: 70px;
		float: none;
		margin: 0 auto 0 !important;
		max-width: 80%;
		text-align: center;
		border: 0 !important;
		padding: 0 !important;
		z-index: 16;
	}

	#logo a.standard-logo { display: inline-block; }

	#primary-menu {
		display: block;
		position: absolute;
		width:100%;
		float: none;
		height: auto !important;
		margin:0 -15px;
		top:0;
	}

	#primary-menu-trigger {
		opacity: 1;
		pointer-events: auto;
		top: 10px;
		margin-top: 0;
		left: 0;
		z-index: 1;
	}

	#primary-menu .container #primary-menu-trigger {
		top: 5px;
		left: 0;
	}

	#primary-menu > ul,
	#primary-menu > div > ul {
		display: none;
		float: none !important;
		border: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}

	#primary-menu > div > ul { margin-top: 71px !important; }
	
	#primary-menu > div > div{
		display:block;
		background:transparent;
	}
	
	#primary-menu > div > div.open{
		height:1000px
	}
	
	body:not(.top-search-open) #primary-menu-trigger {
		opacity: 1;
		-webkit-transition: opacity .2s .2s ease, top .4s ease;
		-o-transition: opacity .2s .2s ease, top .4s ease;
		transition: opacity .2s .2s ease, top .4s ease;
	}

	#primary-menu ul { 
		height: auto !important; 
	}

	#primary-menu ul li {
		float: left;
		width:50%;
		margin: 0 !important;
		text-align: left !important;
	}
	
	#primary-menu ul li:nth-child(-n+3) {

		width:calc(100% / 3);
	}

	#primary-menu ul li:first-child { 
		border-top: 0; 
	}
	
	#primary-menu .menu-top-menu-container{
		float:none;
	}

	#primary-menu ul li a,
	#primary-menu.style-2 > div > ul > li > a{
		height: auto!important;
		padding: 0 15px;
		line-height:100%!important;
		border: none;
		margin: 0 !important;
		font-size:20px;
		width:100%;
		float:left;
	}
	
	.menu-top-menu-container > #menu-top-menu> li:hover ul {
		opacity: 0;
		max-height:0;
	}
	#tab-adsl2 .col-md-4 {
    width: 100%;
}
	
	
	#primary-menu > div > ul#menu-top-menu > li, #primary-menu > div > ul#menu-top-menu > li:hover, #primary-menu > div > ul#menu-top-menu > li.current-menu-item, #primary-menu > div > ul#menu-top-menu > li.current-page-ancestor{
		height:auto!important;
		padding:30px 0;
		border-radius:0;
		border-left:1px solid rgba(0,0,0,0.1);
	}
		
	#primary-menu > div > ul li i{
		text-align: center;
		margin:0;
		width:100%;
		overflow:hidden;
		opacity:1;
		line-height:100%!important;
		display:inline-block;
		font-size:16px;
		transition:all ease 0.2s;
		vertical-align: 15%;
		position: relative;
		padding:0!important;
	}
	
	#primary-menu > div >  ul li div{
		line-height:75px;
		display:inline;
	}


	
	#primary-menu ul li a.button{
		padding:10px;
		height:90px;
		font-weight:bold;
		width:100%;
		margin:10px 0;
	}
	
	#primary-menu ul li:hover .button{
		height:90px;
	}
	
	#primary-menu ul li a.button-pink{
		float:left;
		width:85%;
	}
	
	#primary-menu ul li a.button-blue{
		width:15%;
		float:right;
	}

	#primary-menu.style-5 > ul > li > a > div {
		padding: 0;
		line-height: 50px;
		
	}
	#primary-menu.style-5 > ul > li > a i {
		display: inline-block;
		top: 1px;
		width: 14px;
		margin: 0 6px 0 0;
		font-size: 14px !important;
	}

	#primary-menu ul ul{
		position: relative;
		width: auto;
		background-color: transparent !important;
		box-shadow: none;
		border: 0;
		border-top: 1px solid #EEE;
		z-index: 1;
		top: 0 !important;
		padding-left: 15px;
	}

	#primary-menu ul ul ul {
		top: 0 !important;
		left: 0;
	}

	#primary-menu ul ul li {
		float: none;
		margin: 0;
		border-top: 1px solid #EEE;
	}

	#primary-menu ul ul a {
		height: 44px !important;
		line-height: 44px !important;
		padding-left: 5px !important;
		font-size: 13px !important;
		text-transform: none;
		font-weight: 400;
	}

	#primary-menu ul ul a i {
		line-height: 43px;
	}

	#primary-menu ul ul li:hover > a {
		background-color: transparent !important;
		font-weight: 600;
		padding-left: 5px;
		color: #1ABC9C !important;
	}
	
	.floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content,
	.floating-header #primary-menu ul li.mega-menu .mega-menu-content {
		width: auto;
		margin: 0;
		top: 0;
	}

	#primary-menu ul ul i { line-height: inherit; }

	#top-search { margin: 0 !important; }

	#primary-menu ul.windows-mobile-menu li.sub-menu { position: relative; }

	#primary-menu ul.windows-mobile-menu li.sub-menu a { background-image: none !important; }

	#primary-menu ul.windows-mobile-menu li.sub-menu a.wn-submenu-trigger {
		position: absolute;
		cursor: pointer;
		width: 32px;
		top: 0;
		right: 0;
		z-index: 1;
		padding: 0 !important;
		text-align: center !important;
	}

	#primary-menu ul.windows-mobile-menu .mega-menu-content a.wn-submenu-trigger { display: none; }

	#primary-menu ul.windows-mobile-menu li.sub-menu a.wn-submenu-trigger i { margin: 0 !important; }

	#primary-menu > div > #top-search form { height: 60px !important; }

	#top-search form input { font-size: 24px; }

	#side-panel-trigger { right: 71px; }

	#page-menu #page-menu-wrap {
		position: relative !important;
		top: 0 !important;
	}

	#page-submenu-trigger {
		opacity: 1;
		pointer-events: auto;
		color: #FFF;
	}

	#page-menu.pagemenu-active #page-submenu-trigger { background-color: rgba(0,0,0,0.2); }

	#page-menu nav {
		display: none;
		position: absolute;
		float: none;
		width: 200px;
		top: 43px;
		left: auto;
		right: 15px;
		height: auto;
		background-color: #1ABC9C;
		z-index: 11;
	}

	#page-menu.pagemenu-active nav { display: block; }

	#page-menu nav ul {
		height: auto;
		background-color: rgba(0,0,0,0.2);
	}

	#page-menu nav li { float: none; }

	#page-menu nav li a {
		height: 40px;
		line-height: 40px;
		margin: 0;
		padding: 0 15px;
		border-radius: 0;
	}

	#page-menu ul ul {
		position: relative;
		width: auto;
		top: 0;
		background-color: transparent;
	}

	#page-menu ul ul a { padding-left: 25px; }


	/* Responsive Sticky Header
	-----------------------------------------------------------------*/

	.sticky-responsive-menu #header {
		min-height: 100px;
		-webkit-transition: min-height .4s ease;
		-o-transition: min-height .4s ease;
		transition: min-height .4s ease;
	}

	.sticky-responsive-menu #header-wrap {
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	.sticky-responsive-menu #header.sticky-style-2,
	.sticky-responsive-menu #header.sticky-style-3 { min-height: 160px; }

	.sticky-responsive-menu.device-touch #header,
	.sticky-responsive-menu.device-touch #header-wrap,
	.sticky-responsive-menu.device-touch #logo,
	.sticky-responsive-menu.device-touch #logo img,
	.sticky-responsive-menu.device-touch #top-search a,
	.sticky-responsive-menu.device-touch #primary-menu-trigger,
	.sticky-responsive-menu.device-touch #side-panel-trigger {
		-webkit-transition: none !important;
		-o-transition: none !important;
		transition: none !important;
	}

	#header.responsive-sticky-header:not(.sticky-style-2):not(.sticky-style-3) { min-height: 60px; }

	.responsive-sticky-header #header-wrap {
		z-index: 199;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #FFF;
		border-bottom: 1px solid #EEE;
		-webkit-backface-visibility: hidden;
	}

	.responsive-sticky-header #logo,
	.responsive-sticky-header #logo img { height: 60px; }

	.responsive-sticky-header #primary-menu-trigger { top: 5px; }

	.responsive-sticky-header #primary-menu > ul,
	.responsive-sticky-header #primary-menu > .container > ul {
		max-height: 300px;
		overflow-y: scroll;
		margin-bottom: 20px;
	}

	.responsive-sticky-header #primary-menu > ul,
	.responsive-sticky-header #primary-menu > .container > ul { margin-bottom: 20px !important; }

	.responsive-sticky-header #top-search a,
	.responsive-sticky-header #top-cart,
	.responsive-sticky-header #side-panel-trigger { margin: 20px 0; }


	.ei-slider { height: 350px; }

	.ei-title h3 { display: none; }

	.small-thumbs .entry-title h2,
	.ievent .entry-title h2 { font-size: 18px; }

	.entry-meta li {
		font-size: 12px;
		margin: 0 10px 10px 0;
	}

	.testimonials-grid.grid-3 li { width: 50%; }

	.section > .testimonial {
		padding: 0 40px !important;
		max-width: none;
	}

	#contact-form-overlay-mini {
		float: none;
		width: auto;
		max-width: 380px;
		margin: 0 auto;
	}

	.button.button-full { font-size: 22px; }

	.button.button-full i { top: 3px !important; }

	.bnews-title {
		float: none;
		display: inline-block;
	}

	.bnews-slider {
		float: none;
		margin: 10px 0 0;
		width: 100%;
	}

	.error404 { font-size: 180px; }

	.landing-form-overlay {
		position: absolute;
		width: 100%;
		max-width: 400px;
		right: auto;
		left: 50%;
		margin-left: -200px;
		bottom: 0;
	}
	
	.dark .postcontent,
	.dark .postcontent.bothsidebar,
	.dark .sidebar { border-bottom-color: rgba(255,255,255,0.1); }

	.dark #header.transparent-header,
	.dark #header.semi-transparent,
	#header.dark.transparent-header,
	#header.dark.semi-transparent {
		background-color: #333;
		border-bottom-color: rgba(255,255,255,0.1);
	}

	.dark #primary-menu:not(.not-dark) ul li,
	.dark #primary-menu:not(.not-dark) ul ul,
	.dark #primary-menu:not(.not-dark) ul ul li{ border-top-color: rgba(255,255,255,0.1) !important; }


	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul ul,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li .mega-menu-content,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul ul li,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li .mega-menu-content ul ul,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li .mega-menu-content.col-2 > ul,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li .mega-menu-content.col-3 > ul,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li .mega-menu-content.col-4 > ul,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li .mega-menu-content.col-5 > ul,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li .mega-menu-content.style-2 li { border-top-color: #EEE !important; }

	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul ul a,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li:hover ul a,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > ul > li.current ul a,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li:hover ul a,
	body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu > div > ul > li.current ul a  { color: #444 !important; }

	.dark .pricing-box.pricing-extended .pricing-action-area { border-top-color: rgba(255,255,255,0.15); }
}

@media (min-width: 768px) and (max-width: 991px) {
	
	
	#developers .col_half .clients-grid.grid-3{
		margin:31px 0!important;
	}
	
	
	.swiper_wrapper:not(.full-screen):not(.canvas-slider-grid),
	.swiper_wrapper:not(.full-screen):not(.canvas-slider-grid) .swiper-slide { height: 400px !important; }

	.sidebar-widgets-wrap {
		position: relative;
		margin: 0 -38px -40px 0;
	}

	.sidebar-widgets-wrap .widget {
		display: inline-block;
		vertical-align: top;
		float: none;
		width: 340px;
		margin: 0 37px 40px 0;
		padding-top: 0;
		border-top: 0;
	}

	.landing-video {
		width: 352px;	
		height: 199px;
		margin: 14px 0 0 60px;
	}
}

@media (max-width: 767px) {
	
	.simple-slider .caption.caption-bottom-right *{

		margin: 40px;

		width:calc(100% - 30px);
	}

	
	.person:nth-child(-n+3) .person-img img{
		width:100%!important;
	}
	
	.row .person, .row .person:nth-child(-n+3){
		height: auto!important;
	}
	
	.person-tag,.person:nth-child(-n+3) .person-tag{
		width:calc(100% - 150px)!important;
		float:left;
		height:150px!important;
	}
	
	.row .person-img{
		width:150px!important;
		float:left;
		
	}
	
	.row .person, .row .person:nth-child(-n+3){
		width:100%!important;

	}
	
	#developers .container{
		padding:0;
	}
	
	#developers .col_half{
		padding:15px;
		margin:0 0 15px;
	}
	
	#testimonials .simple-slider .slider-box {
    	padding-top:0;
		height:715px;
	}
	
	

	.slider-container .row.container{
		padding:0!important;
	}
	
	#homeSlider .simple-slider .slider-box {
    height:auto;
		padding-top:80%;
}
	
	#homeSlider.slider-container .slider li:first-child{
		background:url('../images/banner-nbn-mobile.png') no-repeat 50% 50%!important;
		background-size: contain!important;
		
	}
	
	#homeSlider.slider-container .slider li:nth-child(2){
		background:url('../images/banner-award-mobile.png') no-repeat 50% 50%!important;
		background-size: contain!important;
	}
	
	#homeSlider.slider-container .slider li:last-child{
		background:url('../images/banner-products-mobile.png') no-repeat 50% 50%!important;
		background-size: contain!important;
	}
	
	.caption.products .col_one_fourth{
		width:calc( 100% / 3 );
		float:left;
	}
	.caption.products .col_one_fourth:first-child{
		display:none;
	}

	
	#register .column.col_half.col_last{
		padding:0;
	}
	
	#footer .footer-widgets-wrap > .row {
		padding-top: 50px;
		background: transparent;
	}
	
	#register .column.col_half.col_last > *{
		width:47%!important;
		float:left!important;
	}

	.alert-voip{
		width:48%;
		float:left;
		margin-right: 4%;
	}
	
	.alert-voip label, .alert-voip input{
		float:none!important;
		text-align: center;
		display:inline-block;
	}
	
	.pricing.bottommargin{
		margin-bottom: 20px!important;
	}
	
	.alert-voip ~ .alert-voip{
		margin-right: 0;
	}
	
	#casestudy .simple-slider .slider-box{
	height:auto;
	min-height:700px;
}
	
	#casestudy img{
		width:35%;
		margin:0 auto;
		
	}
	#page-title{
		background-attachment: scroll;
		padding:20px 0;
	}
	
	.simple-slider .caption .button-xlarge{
		height:55px;
		line-height:55px;
		font-size: 20px
	}
	.simple-slider .caption h2{
		font-size:1.6em;
	}
	.parallax, .parallax__figcaption{
		padding:55px 0;
	}
	
	.parallax__img{
		width: 200%;
		margin-left: -100%;
	}

	#footer .widget_links{
		display: none;
	}
	
	#footer .footer-widgets-wrap{
		padding:30px 0;
	}
	
	.tabs.tabs-alt ul.tab-nav li{
		width:49%;
	}

	.button.button-desc {
		padding: 20px 17px;
		font-size: 15px;
		max-width: 100%;
	}
	
	.modem-selector .alert{

		width:50%;
		text-align:center;
		margin-bottom:0!important;
		padding: 20px;
		height:150px;
	}
	
	.modem-selector .alert-dark{
		font-size:45px;
	}
	
	.modem-selector .alert-info input, .modem-selector .alert-info label{
		clear:both;
		display:block;
		margin:0 auto;
	}

	.address-checker .sm-form-control{
		padding:13px 14px 12px;
		width:100%;
		display:inline-block;
		margin-bottom:10px!important;
	}
	
	.address-checker .button{
		display:inline-block;
		width:100%;
		position:relative;
		float:right;
	}
	
	.pricing-box.best-price { margin-top: 0; }

	.pricing.pricing-5 .pricing-box {
		float: none;
		width: 100%;
	}

	.pricing-box.pricing-extended .pricing-features li {
		width: auto;
		float: none;
	}
	
	#imageLinks .icons .suburb{
		font-size:13px;

	}
		
	#planChooser .tab-container{
		padding:20px 0 0;
	}
	
	#planChooser .tab-container .tab-content,#planChooser .alert-dark{
		padding:0 15px 15px!important;
	}
	
		
	#planSignup .modal-padding{
		padding:20px 0 0;
	}

	#planSignup .info-text p{
		margin:15px!important;
	}
	
	#primary-menu .menu-top-menu-container{
		float:none;
	}
	
	.planBox{
	display: none;
	}
	
	.section.dark.cta{
		background-image:url(../images/arrow-cta-horiz.png),linear-gradient( to top,  #1b1b1b 68%,#b00049 32%);
		background-position:50% 32%;
		padding:30px 0 60px;
	}
	
	.section.dark.cta #section-buy{
		margin-bottom:60px;
	}
	
	.section.dark.cta .col_half .col_half{
		width:49%;
		float:left;
	}
	
	.section.dark.cta .col_half .col_half.col_last{
		margin-left:2%;
	}
	
	#developers{
		background-position:left;
	}
	
	#developers .col_one_fourth{
		margin-top:30px!important;
	}
	
	#intro .col_half.planBtn{
		width:48%;
		margin-right:4%;
		float:left;
	}
	
	#intro .col_half.planBtn a{
		font-size: 1em;
		padding:10px;
	}
	
	#locations .icons{
		margin-bottom:0;
	}
	
	#locations .icons a:hover{
		top:0;
	}
	
	#locations .icons a{
	margin-bottom: -108px;
	}
	
	#locations .icons .suburb{
	padding: 10px 0 70px;
    z-index: 3;
    background-size: cover;
    background-position: top;
		margin-bottom: 10px;
	position: relative;
		bottom:108px
	}
	
	#locations .icons a:hover .suburb{
		padding: 10px 0 70px;
	}
	
	#locations .col_one_fourth{
		width:48%;

		float:left;
	}
	
	#locations .col_one_fourth:nth-child(odd){
	margin-right:4%;
	}
	
	#locations .icons .comingsoon{
		bottom:58%;
		top:auto;
	}
	
	.wpsm_panel-body{
		padding-left:0!important;
	}
	
	#footer .col-md-10, #footer .col-xs-3{
		padding:0;
	}
	
	.pricing ul.tab-nav:not(.tab-nav-lg) li.ui-state-active a{
		padding: 15px 15px;
	}
	
	#footer .button{
		margin:0;
	}
	#copyrights {
		text-align:center;
	}
	
	#copyrights span{
		display: block;
	}
	
	.button.button-xlarge h2{
		line-height:50px;
	}

	.tab-nav ul:not(.tab-nav-lg) li{
		width:100%;
	}

	.post-archive li{
		width:100%;	
	}
	
	.social-icon.si-large {
		margin: 0 5px 5px 0;
	}
	
	#twitter-widget-0{
		width:100%!important;
	}

	#slider {
		padding: 20px 0 220px;
		min-height:1200px;
    	background-size: cover!important;
	}

	.hero-text .heading-block h2{
		font-size:20px;
	}

	.hero-text .heading-block h1{
		font-size:28px;
		line-height:130%;
	}
	
	#footer .row .row div{
		width:100%;
		float:none;
		clear:both;
		margin-bottom:20px;
		padding:0;
	}
	
	.testimonial .flexslider .slider-wrap img {float:none;}

	body { padding: 0 !important; }

	#wrapper { width: 100% !important; }

	.container-fullwidth {
		margin: 0 auto;
		padding: 0 15px !important;
	}

	h1 { font-size: 28px; }

	h2 { font-size: 24px; }

	h3 { font-size: 20px; }

	h4 { font-size: 16px; }

	#gotoTop,
	.one-page-arrow { display: none !important; }

	#top-bar { height: auto; }

	#top-bar .col_half {
		width: 100%;
		margin-bottom: 0 !important;
	}

	.top-links,
	.top-links > ul > li { float: none !important; }

	.top-links > ul { text-align: center; }

	.top-links > ul > li { display: inline-block; }

	.top-links > ul > li { margin-right: -4px; }

	.top-links ul ul,
	.top-links ul div.top-link-section { text-align: left; }

	.top-links ul div.top-link-section {
		left: auto;
		right: 0;
		padding: 20px 15px;
	}

	#top-social,
	#slider:not(.swiper_wrapper) .slider-caption,
	.nivo-caption,
	.flex-caption,
	.slider-caption p,
	.slider-caption .button,
	.camera_caption,
	.ei-title,
	.slider-arrow-top-sm,
	.slider-arrow-bottom-sm { display: none !important; }

	.slider-caption h2 { margin-bottom: 0 !important; }

	.flex-control-nav li { opacity: 1 !important; }

	.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs { height: 60px; }

	.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li,
	.fslider:not(.flex-thumb-grid) .flex-control-nav.flex-control-thumbs li img {
		display: block;
		width: 80px !important;
		height: 60px !important;
	}
	
	.flexslider .slider-wrap .testi-image img {width: 50%; display: block;}

	.postcontent,
	.postcontent.bothsidebar,
	.sidebar,
	.col_full,
	.col_half,
	.col_one_third,
	.col_two_third,
	.col_three_fourth,
	.col_one_fourth,
	.col_one_fifth,
	.col_two_fifth,
	.col_three_fifth,
	.col_four_fifth,
	.col_one_sixth,
	.col_five_sixth {
		width: 100%;
		margin-right: 0;
		float: none;
	}

	.sidebar.col_last { margin-bottom: 0 !important; }

	form .col_half,
	form .col_one_third,
	form .col_two_third,
	form .col_three_fourth,
	form .col_one_fourth,
	form .col_one_fifth,
	form .col_two_fifth,
	form .col_three_fifth,
	form .col_four_fifth,
	form .col_one_sixth,
	form .col_five_sixth { margin-bottom: 10px !important; 
	}
	
	form .col_full{
		margin-bottom: 0!important;
	}

	#page-title .breadcrumb {
		position: relative !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		margin: 15px 0 0 !important;
	}
	
	#developers .col_one_fourth {
		width:50%;
		float:left;
	}
	
	.pricing.pricing-5 .pricing-box {
		float: none;
		width: 100%;
	}
	
	.button.button-desc {
		padding: 20px 17px;
		font-size: 15px;
		max-width: 100%;
	}

	.button.button-desc span { font-size: 11px; }

	.process-steps li {
		float: none;
		width: auto !important;
		margin-top: 20px;
	}

	.testimonials-grid li {
		float: none;
		width: auto !important;
		padding-left: 0;
		padding-right: 0;
	}

	.title-block {
		padding: 2px 0 3px 15px;
		border-left-width: 5px;
	}

	.title-block-right {
		padding: 2px 15px 3px 0;
		border-right-width: 5px;
	}

	.title-block h1 + span { font-size: 18px; }

	.title-block h2 + span { font-size: 17px; }

	.title-block h3 + span { font-size: 15px; }

	.title-block h4 + span { font-size: 13px; }

	.heading-block h1 { font-size: 30px; }

	.heading-block h2 { font-size: 24px; }

	.heading-block h3 { font-size: 22px; }

	.heading-block h4 { font-size: 19px; }

	.heading-block h1 + span { font-size: 20px; }

	.heading-block h2 + span { font-size: 18px; }

	.heading-block h3 + span,
	.heading-block h4 + span { font-size: 17px; }

	.heading-block ~ p:not(.lead) { font-size: 15px; }

	.emphasis-title h1,
	.emphasis-title h2 { font-size: 44px !important; }


	/* Copyrights
	-----------------------------------------------------------------*/

	#copyrights .col_half { text-align: center; }

	#copyrights .col_half:last-child { display: none; }

	#copyrights .footer-logo {
		margin-left: auto;
		margin-right: auto;
	}
	
	.dark .navbar-default .navbar-nav .open .dropdown-menu > li > a { color: #BBB; }

	.dark .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.dark .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus { color: #EEE; }

	.dark .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.dark .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.dark .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		background-color: rgba(0,0,0,0.25);
		color: #EEE;
	}

	.dark .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
	.dark .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.dark .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus { color: #999; }
}

@media (min-width: 480px) and (max-width: 767px) {

	#content .testimonial .flexslider .slider-wrap img{
		margin:0 auto;
		max-width:30%;
	}
	
	.testimonial .flexslider .slider-wrap .slide{
		text-align:center;
	}


	#header.transparent-header.floating-header .container {
		width: 470px;
		padding: 0 15px;
	}
	.post-grid:not(.post-masonry) .entry-image iframe { height: 246px; }

	.button.button-full { font-size: 18px; }

	.button.button-full i {
		top: 2px !important;
		margin-left: 3px !important;
	}

	.error404,
	.error404-wrap .error404 { font-size: 160px; }

	.landing-video {
		position: relative;
		top: 12px;
		width: 333px;
		height: 187px;
		margin: 19px 0 0 53px;
	}
}

@media all and (min-width: 240px) and (max-width: 479px) {
	#toast-container > div {
		padding: 8px;
		width: 18em;
	}
}

@media all and (min-width: 480px) and (max-width: 767px) {
	#toast-container > div {
		padding: 15px;
		width: 25em;
	}
}

@media (max-width: 479px) {
	
		#testimonials .simple-slider .slider-box {
    	padding-top:0;
		height:900px;
	}
	
	
	
	#contact .col_one_fourth{
		margin:0;
	}
	
	#content p{
		line-height: 1.6;
	}
	
	#pageLinks .col_one_fourth .feature-box, #pageLinks .col_one_third .feature-box, #pageLinks .col_half .feature-box{
		padding:10px;
	}
	

	.feature-box.fbox-center .fbox-icon i{
		font-size: 32px;
		line-height: 64px;
		width: 64px;
		float:right;
		margin-top: -20px;
	}
	
	.feature-box.fbox-center h3{
		margin:5px 0 10px;
		text-align: left;
		font-size:18px;
	}
	
	.feature-box.fbox-center:not(.fbox-bg) h3:after{
		margin: 16px 0;
   		width: 100%;
	}
	
		#features p{
		text-align: left;
	}
	
	
	.pricing-title {
		padding: 5px 0;
	}
	
	.pricing-title h3{
		font-size:1.6em;
	}
	
	.pricing .disclaimer{
		padding:5px;

	}
	.pricing .disclaimer p{
		font-size:12px;
		line-height: 1.4!important;
	}
	
	.pricing-mincost{
		padding:5px 0;
		font-size:13pt;
	}
	
	.pricing-price{
		font-size:36px;
		padding:5px 0;
	}
	
	.pricing-features li{
		padding:10px 0;
	}
	
	.term.sm-form-control, .wire.sm-form-control{
		font-size: 13px;
    	padding: 5px;
	}
	
	
	body p, body a, #content ul {
		font-size: 14px
	}
	
	.stretched #wrapper {
		margin-top: 55px!important;
	}
	
	#primary-menu > div > ul {
		margin-top: 56px !important;
	}

	
	#register .column.col_half.col_last > *{
		width:100%!important;
		float:none!important;
	}
	
	.legend{
		width:80%;
		font-size:11px!important;
	}
	
	#casestudy .simple-slider .slider-box{
	height:auto;
	min-height:500px;
}
	
	#casestudy img{
		width:70%;
		margin:0 auto;
		
	}
	
	#casestudy .container {
    margin: 20px 30px!important;
}

	
	.simple-slider .caption{
		text-align: center;
	}
	
	.simple-slider .caption .button-xlarge{
		width:100%;
		max-width:100%;
		font-size: 16px
	}
	.simple-slider .caption h2{
		font-size:1.2em;
	}

	.parallax__img{
		width:250%;
		margin-left:-125%;
	}
	
	.parallax, .parallax__figcaption {
    padding: 0 0 80px;
}
	
	#speedtest h1{
		font-size:1.6em;
	
	}
	#speedtest h2{
		font-size:1.4em;
	}
	
	#speedtest .speed-box .unit{
		font-size:12px;
	}
	
	.speed-box label{
		font-size:14px!important;
	}
	.speed-box .speed {
    	font-size: 24px!important;

	}
	.speed-container{
		margin-top: 28px!important;
	}
	.meter svg text {
	  font-size:16px!important;
	}

	.when-available small{
		font-size:11px!important;
		display:block!important;
		line-height:135%!important;
	}
	#address{
		font-size: 16px!important;
	}
	
	
	.custom-logo-link img{
		max-height:55px;
		padding-bottom:5px!important;
	}
	
	#slider{
		padding-top:0;
	}
	
	#primary-menu-trigger{
		top:0;
	}
	#primary-menu > a.button{
		top:5px;
		right:5px;
	}
	
	#header-wrap {
		max-height:55px;
	}
	
	.force-full-screen.full-screen.dark{
	    max-height: 690px!important;
	}
	
	iframe{ 
		zoom: 0.75; 
		-moz-transform: scale(0.7); 
		-moz-transform-origin: 0 0;
	}
	
	.tabs.tabs-tb ul.tab-nav{
		white-space:nowrap;
	}
	
	.tabs.tabs-tb ul.tab-nav li.ui-state-default a{
		padding:10px;
		margin:0;
	}
	
	#content .testimonial .flexslider .slider-wrap img{
		margin:0 auto;
		max-width:30%;
	}
	
	.testimonial .flexslider .slider-wrap .slide{
		text-align:center;
	}

	.container.vertical-middle { width: 100% !important; }

	.full-screen:not(.force-full-screen) .container.vertical-middle { width: 310px !important; }

	#top-search a { right: 15px; }

	#top-search form input { padding-right: 30px; }

	#side-panel-trigger { right: 43px; }

	.swiper_wrapper:not(.force-full-screen),
	.swiper_wrapper:not(.force-full-screen):not(.canvas-slider-grid) .swiper-slide,
	.ei-slider { height: 180px !important; }

	.swiper_wrapper .slider-caption h2 { font-size: 28px; }

	#header.transparent-header.floating-header .container {
		width: 310px;
		padding: 0 15px;
	}

	.post-grid:not(.post-masonry) .entry-image iframe { height: 157px; }

	.si-share span { display: none; }

	.parallax .entry-overlay-meta,
	.parallax .entry-overlay {
		left: 50% !important;
		right: 0 !important;
		margin: 0 0 0 -140px !important;
		width: 280px !important;
	}

	.parallax .entry-overlay { width: 288px !important; }

	.parallax .countdown-section {
		width: 64px;
		height: 64px;
		margin: 0 8px 0 0;
		font-size: 11px;
		padding: 0;
		padding-top: 12px;
	}

	.parallax .countdown-amount { font-size: 20px; }

	.countdown-large .countdown-section {
		display: block;
		width: auto;
		margin: 30px 0 0;
		border: 0;
	}

	.countdown-large .countdown-section:first-child { margin-top: 0; }

	.testi-image,
	.testi-image a,
	.testi-image img,
	.testi-image i {
		width: 200px;
	}

	.testi-image i {
		line-height: 36px;
		font-size: 20px;
	}

	.clients-grid:not(.grid-3):not(.grid-2) li,
	.clients-grid.grid-4 li,
	.clients-grid.grid-6 li { width: 50%; }

	.button.button-full { font-size: 16px; }

	.button.button-full i {
		top: 2px !important;
		margin-left: 3px !important;
	}

	.emphasis-title h1,
	.emphasis-title h2 { font-size: 40px !important; }

	.error404,
	.error404-wrap .error404 { font-size: 120px; }

	.landing-video {
		position: relative;
		top: 9px;
		width: 212px;
		height: 119px;
		margin: 19px 0 0 34px;
	}

	.landing-form-overlay { margin-left: -155px; }

	.button.button-desc {
		padding: 20px 17px;
		font-size: 15px;
		max-width: 100%;
	}

	.button.button-desc span { font-size: 11px; }
}


/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   -min-moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	#logo a.standard-logo { display: none; }
	#logo a.retina-logo { display: block; }

	.owl-carousel.owl-loading,
	.preloader,
	.preloader2,
	.form-process {
		background-image: url('../images/preloader@2x.gif');
		background-size: 24px 24px;
	}

	.dark .owl-carousel.owl-loading,
	.dark .preloader,
	.dark .preloader2,
	.dark .form-process { background-image: url('../images/preloader-dark@2x.gif'); }

	.widget_recent_comments li {
		background-image: url("../images/icons/widget-comment@2x.png");
		background-size: 15px 26px;
	}

	.widget_nav_menu li a,
	.widget_links li a,
	.widget_meta li a,
	.widget_archive li a,
	.widget_recent_entries li a,
	.widget_categories li a,
	.widget_pages li a,
	.widget_rss li a,
	.widget_recent_comments li a {
		background-image: url("../images/icons/widget-link@2x.png");
		background-size: 4px 20px;
	}

	.dark .widget_recent_comments li { background-image: url("../images/icons/widget-comment-dark@2x.png"); }

	.dark .widget_nav_menu li a,
	.dark .widget_links li a,
	.dark .widget_meta li a,
	.dark .widget_archive li a,
	.dark .widget_recent_entries li a,
	.dark .widget_categories li a,
	.dark .widget_pages li a,
	.dark .widget_rss li a,
	.dark .widget_recent_comments li a { background-image: url("../images/icons/widget-link-dark@2x.png"); }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (   -min-moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (                min-resolution: 192dpi) and (max-width: 991px),
only screen and (                min-resolution: 2dppx) and (max-width: 991px) {
	#logo a.standard-logo { display: none; }
	#logo a.retina-logo { display: inline-block; }
}